.large-6.columns
  = f.text_field     :first_name,            class: 'radius', placeholder: 'first name', autofocus: true
.large-6.columns
  = f.text_field     :last_name,             class: 'radius', placeholder: 'last name'
.large-12.columns
  = f.text_field     :email,                 class: "radius", placeholder: 'email'
.large-6.medium-6.columns
  = f.password_field :password,              class: "radius", placeholder: 'create a password'
.large-6.medium-6.columns
  = f.password_field :password_confirmation, class: "radius", placeholder: 'confirm your password' 
