<% provide(:title, 'Sign Up') %>

<div class="row">
	<div class="large-6 large-offset-3 columns">
		<h1 class="signup_title">Tookiti!</h1>
		<h4 class="signup_subtitle">Join Tookiti and start creating contests.</h4>

		<%= form_for(@user) do |f| %>

				<%= render 'shared/error_messages' %>

			<div class="large-6 medium-6 columns">
				<%= f.text_field :first_name, class: "radius", 
																	  	placeholder: 'First name' %>
			</div>

			<div class="large-6 medium-6 columns">
				<%= f.text_field :last_name, class: "radius", 
																		 placeholder: 'Last name' %>
			</div>

			<div class="large-12 columns">
				<%= f.text_field :email, class: "radius", placeholder: 'Email' %>
			</div>

			<div class="large-6 medium-6 columns">
				<%= f.password_field :password, class: "radius", 
																				placeholder: 'Create a password' %>
			</div>

			<div class="large-6 medium-6 columns">
				<%= f.password_field :password_confirmation, class: "radius", 
			  										 placeholder: 'Confirm your password' %>
			</div>

			<div class="large-12 columns">
				<%= f.submit 'Sign Up', class: 'button expand alert radius' %>
			</div>
		<% end %>

			<p class="signup_title">Already a user?<br>
				<%= link_to 'Log in now!', login_path %>
			</p>
	</div>
</div>