<% provide(:title, 'Sign Up') %>

<div class="row">
	<div class="large-6 large-offset-3 columns">
		<h2>Sign Up</h2>
		<%= form_for(@user) do |f| %>
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>

			<%= f.label :last_name %>
			<%= f.text_field :last_name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, 'Confirmation' %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit 'Create Account', class: 'button expand' %>
		<% end %>
	</div>
</div>