.large-4.medium-4.small-6.columns.left
  %div{id: "post-#{post.id}", class: 'post_thumbnail'}
    .post_image
      = image_tag(post.image)
    .post_info
      .post_title= post.title.titleize
      .post_user
        = link_to(gravatar(post.user, size: 30), post.user)
        %span= link_to(full_name(post.user), post.user)
      .timestamp
        posted #{time_ago_in_words(post.created_at)} ago