<footer class="row dark_background">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>Tookiti © <%= Time.now.year %></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to "Home",    contact_path %></li>
          <li><%= link_to "About",   about_path   %></li>
          <li><%= link_to "Help",    help_path    %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>