%footer.row
  .large-12.columns
    %hr/
    .large-6.columns
      %p 
        Tookiti © #{Time.now.year}
    .large-6.columns 
      %ul.inline-list.right
        %li= link_to "home",    contact_path
        %li= link_to "about",   about_path
        %li= link_to "help",    help_path
        %li= link_to "contact", contact_path