%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1= link_to "TookiTi!", root_path
    %li.toggle-topbar.menu-icon
      %a{href: '#'}
        %span menu
  %section.top-bar-section
    %ul.right
      %li.divider
      %li= link_to 'home', root_path
      - if logged_in?
        %li.divider
        %li= link_to 'users', users_path
        %li.divider
        %li.has-dropdown
          = link_to 'profile', current_user
          %ul.dropdown
            %li= link_to 'settings', edit_user_path(current_user)
            %li.divider
            %li= link_to 'logout',   logout_path, method: :delete
      - else
        %li.divider
        %li.has-form
          = link_to 'sign up', signup_path,  class: 'button alert radius'
        %li.divider
        %li.has-form 
          = link_to 'log in',  login_path,   class: 'button success radius'
        %li.divider
        %li.has-dropdown
          %a{href: '#'} more
          %ul.dropdown
            %li= link_to 'about',   about_path
            %li= link_to 'help',    help_path
            %li= link_to 'contact', contact_path